<configuration>
    
 
 <contextName>transcode-service</contextName>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-30([%contextName] [%thread] ) %-5level %logger{32} - %message%n%xException</pattern>
    </encoder>
  </appender>


  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>
